[Unit]
Description=Temperature sensing on startup (SHT85 2)
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u tempsendDB2.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target


